.header {
	position: absolute;
	color: white;
	top: 10px;
	text-align: center;
	margin-left: 5%;
	width: 70%;
	height: 55px;
}

.body {
	margin-bottom: 3px;
}

.main {
	width: 70%;
	position: absolute;
	top: 65px;
	margin-left: 5%;
}

.rightBar {
	position: fixed;
	top: 10px;
	right: 20px;
}

.footer {
	left: 0px;
	bottom: 0px;
	font-size: 8pt;
	width: 100%;
	text-align: center;
}
.content {
	background-color: #11457A;
	border: 1px dotted #000;
	padding: 1.0em;
	color: #BFF9F7;
}

a {
	color: lightblue;
	text-shadow: #000 1px 1px 5px;
	text-decoration: none;
	font-style: italic;
	border-bottom: dotted 1px #ccc;
}

a:visited {
	color: #9EE7D5;
}

h1 {
	font-size: 12pt;
}

body {
	background-color: lightblue;
}
